body {
    font-family: Helvetica, sans-serif;
    padding: 1%;
}

main {
    padding: 16px;
}

header {
    margin-bottom: 50px;
}

.logo {
    font-weight: 700;
    font-size: 22px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.website-header {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 1em;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 1em;
}

.nav-list {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    gap: 1em;
    flex-wrap: wrap;
    align-items: center;
  }

.nav-link {
  color: #fff;
  font-weight: 550;
  text-decoration: none;
  display: inline-block;
  padding 0.5em 0;
}

.nav-link:hover {
    color: #FF6600;
}

h1 {
    color: #333;
    font-size: 1.6em;
}

h2 {
    color: #4B4B4B;
    font-size: 1.4em;
}


table {
    font-family: Helvetica, sans-serif;
    font-size: 14.5px;
    border: 1px solid gray;
    border-radius: 2px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    text-align: left;
    background-color: #FFFAFA;
    color: #333;
}

th, td {
    padding: 3px 50px 3px 3px;
}

footer {
    padding: 16px 16px;
    font-weight: 575;
    margin-top: 150px;
    background-color: #333;
    color: #fff;

}
