{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "css/projects.css" %}">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body>
        <header class="website-header">
            <div class="logo">Taskify</div>
            <nav class="main-nav">
                <ul class="nav-list">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "show_my_tasks" %}">My tasks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "list_projects" %}">My projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "logout" %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "login" %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "signup" %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
        <footer>
            Stay on track, stay productive.
        </footer>
    </body>
</html>
